  <!--footer area start-->
  <footer class="footer_widgets">
    <!--shipping area start-->
    <div class="shipping_area shipping_padding">
        <div class="container">
            <div class="shipping_inner">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping1.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Miễn phí vận chuyển</h4>
                        <p>Cho đơn hàng trên 1 triệu VND</p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping2.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Miễn phí vận chuyển</h4>
                        <p>Cho đơn hàng trên 1 triệu VND</p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping3.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Miễn phí vận chuyển</h4>
                        <p>Cho đơn hàng trên 1 triệu VND</p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping4.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Miễn phí vận chuyển</h4>
                        <p>Cho đơn hàng trên 1 triệu VND</p>
                    </div>
                </div>
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping5.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h4>Miễn phí vận chuyển</h4>
                        <p>Cho đơn hàng trên 1 triệu VND</p>
                    </div>
                </div>
            </div>
        </div>             
    </div>
    <!--shipping area end-->
    <div class="footer_top top_depult_p">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widgets_container">
                        <h3>Liên hệ</h3>
                        <div class="footer_contact">
                           <div class="footer_contact_inner">
                                <div class="contact_icone">
                                    <img src="assets/img/icon/icon-phone.png" alt="">
                                </div>
                                <div class="contact_text">
                                    <p>Hotline miễn phí: <br> <strong><a href="tel:+(+800)123456789">(+800) 123 456 789</a> </strong></p>
                                </div>
                            </div>
                            <p>The Barn, Henley in Arden B578. England. Support@eCommerce</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                   <div class="footer_col_container">
                        <div class="widgets_container widget_menu">
                            <h3>Thông tin</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Chính sách vận chuyển</a></li>
                                    <li><a href="#">Sản phẩm mới</a></li>
                                    <li><a href="#">Bán chạy</a></li>
                                    <li><a href="my-account.html">Tài khoản của tôi</a></li>
                                    <li><a href="#">Lịch sử đặt hàng</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>Customer Service</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="my-account.html">Tài khoản của tôi</a></li>
                                    <li><a href="customer/cart">Giỏ hàng</a></li>
                                    <li><a href="wishlist.html">Danh sách yêu thích</a></li>
                                    <li><a href="#">Prices drop</a></li>
                                    <li><a href="#">Lịch sử đặt hàng</a></li>
                                    <li><a href="#">Đặt hàng quốc tế</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>Tài khoản của tôi</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Sitemap</a></li>
                                    <li><a href="my-account.html">Tài khoản của tôi</a></li>
                                    <li><a href="#">Thông tin vận chuyển</a></li>
                                    <li><a href="#">Lịch sử</a></li>
                                    <li><a href="wishlist.html">Danh sách yêu thích</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>Mở rộng</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Thương hiệu</a></li>
                                    <li><a href="wishlist.html">Danh sách yêu thích</a></li>
                                    <li><a href="#">Thư mới</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widgets_container widget_menu">
                            <h3>Thanh toán</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Phương thức thanh toán</a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="#">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_area">
                        <p>Copyright &copy; 2020 <a href="#">BieShop</a>  All Right Reserved.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                   <div class="footer_payment text-right">
                        <img src="assets/img/icon/payment.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>   
</footer>
<!--footer area end-->